html {
  border: 2px solid #f3fafd;
  background-color: #8d99ae;
  height: 99%;
}

h1 {
  margin: 0;
  text-align: center;
  color: #f3fafd;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #f3fafd;
}

[id="table-background-div"] {
  margin: auto;
  border-radius: 15px;
  background-color: #2b2d42;
  width: 380px;
  height: 560px;
}

[id="calculator"] {
  position: relative;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-width: 10px;
  border-collapse: collapse;
  padding: 0;
  width: 350px;
  height: 530px;
}

[id="box-result"] {
  margin: 0;
  border-bottom: 2px solid #2b2d42;
  padding: 10px;
  height: 60px;
  font-size: 40px;
  text-align: right;
  background-color: #edf2f4;
}

td {
  margin: 0 auto;
  border: 0;
  border-collapse: collapse;
  padding: 8px;
  background-color: #edf2f4;
}

button {
  margin: 0;
  border: 1px solid #2b2d42;
  border-radius: 20px;
  padding: 0;
  width: 70px;
  height: 55px;
  font-size: 22px;
  background-color: #e4e8ec;
}

button:hover {
  margin: 0;
  border: 1px solid #2b2d42;
  border-radius: 20px;
  padding: 0;
  width: 70px;
  height: 55px;
  font-size: 22px;
  background-color: #c9ccd3;
}

button:active {
  margin: 0;
  border: 1px solid #2b2d42;
  border-radius: 20px;
  padding: 0;
  width: 70px;
  height: 55px;
  font-size: 22px;
  background-color: #e4e8ec;
}

[id="btn-equals"] {
  background-color: #d90429;
}

[id="btn-equals"]:hover {
    background-color: #ef233c;
}

[id="btn-equals"]:active {
    background-color: #d90429;
}

/*
URL of the site with the color palettes: https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
*/
