html {
  margin: 0;
  border: 2px solid #f3fafd;
  background-color: #8d99ae;
}

/* body {
  background-color: #748094;
} */

h1 {
  margin: 0;
  text-align: center;
  color: #f3fafd;
}

hr {
  border: 1px solid #f3fafd;
}

table {
  margin: 15px auto;
  border: 10px solid #2b2d42;
  /* border-radius: 20px; */
  border-collapse: collapse;
  padding: 0;
  width: 400px;
  height: 555px;
}

th[id="box-result"] {
  margin: 0;
  border: 2px solid #2b2d42;
  /* border-radius: 5px; */
  padding: 10px;
  /* width: 60px; */
  height: 65px;
  text-align: right;
  font-size: 40px;
  background-color: #edf2f4;
}

td {
  margin: 0 auto;
  /* border-collapse: collapse; */
  padding: 8px;
  background-color: #edf2f4;
}

button {
  margin: 0;
  border: 1px solid #2b2d42;
  padding: 0;
  width: 80px;
  height: 55px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #e4e8ec;
}

button:hover {
  margin: 0;
  border: 1px solid #2b2d42;
  padding: 0;
  width: 80px;
  height: 55px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #c9ccd3;
}

button:active {
  margin: 0;
  border: 1px solid #2b2d42;
  padding: 0;
  width: 80px;
  height: 55px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #e4e8ec;
}

button[id="btn-equals"] {
  background-color: #d90429;
}

button[id="btn-equals"]:hover {
    background-color: #ef233c;
}

button[id="btn-equals"]:active {
    background-color: #d90429;
}

/*
URL of the site with the color palettes: https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
*/
